version: '2'

services:
  postgres:
    image: 'postgres:10.3-alpine'
    volumes:
      - 'postgres:/var/lib/postgresql/data'
    env_file:
      - '.env'

  redis:
    image: 'redis:7-alpine'
    command: redis-server
    volumes:
      - 'redis:/data'

  website:
    depends_on:
      - 'postgres'
      - 'redis'
    build: .
    ports:
      - '3000:3000'
      - '1080:1080'
    volumes:
      - '.:/app'
      - 'bundle_cache:/usr/local/bundle'
    environment:
      BUNDLE_PATH: /usr/local/bundle
    env_file:
      - '.env'

  cable:
    depends_on:
      - 'postgres'
      - 'redis'
    build: .
    command: puma -p 28080 cable/config.ru
    ports:
      - '28080:28080'
    volumes:
      - '.:/app'
      - 'bundle_cache:/usr/local/bundle'
    environment:
      BUNDLE_PATH: /usr/local/bundle
    env_file:
      - '.env'

volumes:
  redis:
  postgres:
  bundle_cache:
